.text {font-style: normal; font-family: 'Times New Roman', Times, serif;}
.title {font-family: 'Times New Roman', Times, serif ; font-size: larger;}
.redbg {background-color: brown;}
.middle {z-index: middle;}